{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": [
        "*.json",
        ".eslintrc",
        ".prettierrc"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}